@model Practica01.Models.Notas
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bienvenido al calculo de notas</h2>
    
</div>

<table class="table table-dark table-striped">
    
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">L1 </th>
      <th scope="col">L2</th>
      <th scope="col">L3</th>
      <th scope="col">P1</th>
      <th scope="col">P2</th>
      <th scope="col">P3</th>
      <th scope="col">Promedio</th>
      </thead>
      <tr>
        <td>@ViewBag.Nombre</td>
         <td>@ViewBag.Lab1</td> 
         <td>@ViewBag.Lab2</td> 
         <td>@ViewBag.Lab3</td> 
         <td>@ViewBag.Par1</td> 
         <td>@ViewBag.Par2</td> 
         <td>@ViewBag.Par3</td> 
         <td>@ViewBag.Prom</td>
      </tr>
  </table>
<br/>
<br/>

<form asp-controller="Estudiante" asp-action="Notas">
    <div class="notas">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese su nombre : </label>
    <input type="text" class="form-controles" asp-for="Nombre">
    
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Primer Laboratorio</label>
    <input type="text" class="form-control" asp-for="Lab1">
    
  </div>

   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Segundo Laboratorio</label>
    <input type="text" class="form-control" asp-for="Lab2">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tercer Laboratorio</label>
    <input type="text" class="form-control" asp-for="Lab3">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Primer Parcial</label>
    <input type="text" class="form-control" asp-for="Par1">
  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Segundo Parcial</label>
    <input type="text" class="form-control" asp-for="Par2">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tercer Parcial</label>
    
    <input type="text" class="form-control" asp-for="Par3">
  </div>
    <br />
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
